
.navigation {
  background-color: #2a2b2a;
  overflow: hidden;
  position: sticky;
  font-family: 'Quicksand';
  font-size: 22px;;
}

.navigation a {
  float: left;
  color: #f8f4e3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navigation a.active {
  background-color: #E22856;
  color: #2a2b2a;
}

.navigation a:visited {
  color: azure;
}

.navigation a:hover {
  background-color: #929087;
  color: black;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.container {
	display: flex;
  width: 100%;
  box-sizing: border-box;
	flex-wrap: nowrap;
  padding-left: 30%;
  justify-content: left;
}

.box {
  background-color: #E3B7B6;
  border: 3px solid black;
  padding: 30px;
  text-align: center;
  height: 200px;
  width: 400px;
  margin-left: 20px;
}

* {
  margin: 0;
}

body {
  background-color: #F8F4E3;
  padding-top: 60px;
}

p {
  color: #2A2B2A;
  font-family: 'Montserrat';
  font-size: 20px;
  margin: 3px;
}

#small {
  font-size: 5px;
}

img {
  max-width: 400px;
  max-height: 400px;
}
